@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #ffe8e7;
	background: #E96D65;
	font-weight: 300;
	overflow-x: hidden;
}

li {
	font-size: 1.5em;
}

/* general style for the form */
.nl-form {
	width: 100%;
	margin: 0.3em auto 0 auto;
	font-size: 4em;
	line-height: 1.5;
}

/* normalize the input elements, make them look like everything else */
.nl-form input {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nl-form input:focus {
	outline: none;
}

/* the toggle is the visible part in the form */
.nl-form input {
	line-height: inherit;
	display: inline-block;
	color: #b14943;
	cursor: pointer;
	border-bottom: 1px dashed #b14943;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
	color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: rgba(255,255,255,0.2);
}


/* submit button */
.nl-submit-wrap {
	margin-top: 0.4em;
}

.nl-form .nl-submit {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 3;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #76C3BD;
	color: #fff;
	padding: 0 1em 0 1em;
	font-size: 40%;
	letter-spacing: 3px;
}

.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
	background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover:before {
	background: #58a199;
}

.nl-form {
	margin-top: 2em;
}

@media screen and (max-width: 45em) {
	.nl-form {
		font-size: 3em;
	}
}

@media screen and (max-width: 25em) {
	.nl-form {
		font-size: 2em;
	}
}

.col-centered{
    float: none;
    margin: 0 auto;
}

form {
	text-align: center;
}

input{
   text-align:center;
}

a {
	color: #ffe8e7;
}

.error-message {
	text-align: center;
	font-size: 2em;
}

.redditLinks:hover {
	color: #ffe8e7;
}
