<!doctype html>
<html lang="en" ng-app="redditApp">
<head>
  <meta charset="utf-8">
  <title>Reddit Client</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/general.css" />

</head>
<body>
	<div class="container">
    <div ng-controller="redditController">
      <div class="row col-centered">
        <form class="nl-form">
          <input type="text" class="col-centered" value="" placeholder="Enter a subreddit" ng-model="query" />
          <br />
          <button class="nl-submit col-centered" ng-click="executeSearch()" type="submit">Search</button>
        </form>
      </div>
      
      <div class="row">
        <div class="col-md-6" ng-show="recentHeadlines">
          <h2>Recent</h2>
          <ul>
            <li ng-repeat="headline in recentHeadlines">
              {{ headline.data.title }}
            </li>
          </ul>
        </div>
        <div class="col-md-6" ng-show="topHeadlines">
          <h2>Top</h2>
          <ul>
            <li ng-repeat="headline in topHeadlines">
              {{ headline.data.title }}
            </li>
          </ul>  
        </div>
      </div>
      <div>
        
      </div>
      <div>
        
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  
</body>

</html>
